body {
    margin: 0;
    height: 100vh;

    /* Regnbågsgradient */
    background: linear-gradient(
        270deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        violet,
        red
    );

    background-size: 400% 400%;

    /* Animation */
    animation: rainbow 15s linear infinite;

    /* Text stil */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: Arial;
    color: white;

    /* Neon glow på hela sidan */
    text-shadow:
        0 0 5px white,
        0 0 10px cyan,
        0 0 20px magenta;
}

/* Animationen */
@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 400% 50%;
    }
}

